absl-py==2.2.2
aenum==3.1.15
affine==2.4.0
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
blessings==1.7
boto3==1.37.36
botocore==1.37.36
bqplot==0.12.44
branca==0.8.1
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
colour==0.1.5
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
dataclasses-json==0.6.7
decorator==5.2.1
earthengine-api==1.5.9
ee==0.2
eerepr==0.1.1
elementpath==4.8.0
exceptiongroup==1.2.2
executing==2.2.0
flatbuffers==25.2.10
flox==0.9.10
folium==0.19.5
fonttools==4.57.0
fsspec==2025.3.2
future==1.0.0
gast==0.6.0
geemap==0.35.3
geocoder==1.38.1
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.2
grpcio==1.71.0
h5py==3.13.0
httplib2==0.22.0
idna==3.10
imageio==2.37.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipython==8.18.1
ipytree==0.2.2
ipywidgets==8.1.5
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
jupyter-leaflet==0.19.2
jupyterlab_widgets==3.0.13
keras==3.9.2
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.4
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.1
mock==5.2.0
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.33.0
networkx==3.2.1
numpy==2.0.2
numpy-groupies==0.11.2
oauthlib==3.2.2
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
plotly==6.0.1
prompt_toolkit==3.0.50
proto-plus==1.26.1
protobuf==5.29.4
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
Pygments==2.19.1
pyparsing==3.2.3
pyperclip==1.9.0
pyproj==3.6.1
pyshp==2.3.1
python-box==7.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
rasterio==1.4.3
ratelim==0.1.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==14.0.0
rioxarray==0.15.0
rsa==4.9
s3transfer==0.11.5
sarsen==0.9.4
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
scooby==0.10.0
seaborn==0.13.2
sentinelhub==3.11.1
setuptools==68.2.0
shapely==2.0.7
shellingham==1.5.4
six==1.17.0
stack-data==0.6.3
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.0.1
threadpoolctl==3.6.0
tifffile==2024.8.30
tomli==2.2.1
tomli_w==1.2.0
toolz==1.0.0
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
typer==0.15.2
typing_extensions==4.13.1
typing-inspect==0.9.0
tzdata==2025.2
uritemplate==4.1.1
urllib3==1.26.20
utm==0.8.1
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.41.2
widgetsnbextension==4.0.13
wrapt==1.17.2
xarray==2024.7.0
xarray-sentinel==0.9.5
xmlschema==3.4.5
xyzservices==2025.1.0
zipp==3.21.0